/* Stil za sve goste (uključujući admina i DJ-a) */
.guest {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
    color: inherit;
}

/* Stil za ostale goste */
.guest::before {
    content: "•"; 
    color: white;   
    margin-right: 10px;
    font-size: 18px;
}

/* Input za boje (manje stilizovan) */
.colorPicker {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Stil za poruke konobarice */
.konobarica {
    color: #ff6347; /* Boja za Konobaricu */
    font-weight: bold;
    font-style: italic;
}

/* Stil za sistemske poruke */
.system-message {
    font-style: italic;
    color: #888;
}

.modal {
    display: none; /* Sakrij modal po default-u */
    position: fixed; /* Fiksna pozicija */
    z-index: 1; /* Na vrhu svih elemenata */
    left: 0;
    top: 0;
    width: 400px; /* Širina modalnog prozora */
    /* Dodajte željenu visinu ako je potrebno */
    height: auto; 
    overflow: hidden; /* Sakrij sadržaj koji prelazi */
    background-color: rgba(0, 0, 0, 0.5); /* Poluprozirna pozadina */
}

.modal-content {
    background-color: #fefefe;
    margin: 0; /* Uklanjamo margin */
    padding: 20px;
    border: 1px solid #888;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
