body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    }

  #authContainer {
    background-color: black; /* Crna pozadina */
    border-radius: 10px;
    padding: 20px;
    width: 250px; /* Zadržana širina */
    height: 200px; /* Nova visina */
    position: absolute; /* Zadržana pozicija */
    top: 0; /* Bez razmaka od vrha */
    left: 0; /* Bez razmaka od leve ivice */
    box-shadow: 0px 0px 10px white; /* Bele neon linije */
    border: 1px solid rgba(255, 255, 255, 0.6); /* Neon bela ivica */
}


#chatContainer {
    width: 900px;
    height: 600px;
    margin: auto;
    border: 2px solid white;
    background-color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

#toolbar {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

.toolbarBtn {
    padding: 10px 20px;
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toolbarBtn:hover {
    background-color: #666;
}

#messageArea {
    position: absolute;
    top: 95px;
    left: 5px;
    right: 195px; /* Udaljenost sa desne strane */
    bottom: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    word-wrap: break-word;  /* Prelamanje reči unutar poruka */
}

.message {
    margin-bottom: 10px;
    word-wrap: break-word;  /* Prelamanje reči unutar svake poruke */
    white-space: normal; /* Osigurava prelamanje teksta, bez da se poruke šire horizontalno */
}

#chatInput {
    position: absolute;
    top: 60px;
    left: 120px;
    width: 500px;  /* Ostavite širinu nepromenjenu */
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    resize: none;
    font-size: 17px;
    background-color: black;
    color: white;
    overflow: hidden;
}


#guestList {
    position: absolute;
    right: 0;
    top: 60px;
    width: 180px;
    height: calc(100% - 70px);
    border-left: 2px solid white;
    background-color: black;
    color: white; /* Default color remains white for non-dynamic text */
    border-bottom: 10px solid white;
    overflow-y: auto;
}

.guest {
    padding: 5px;
    border-bottom: 1px solid white;
    cursor: pointer;
    color: inherit; /* Ensure dynamic color from JS is applied */
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 78px;
  z-index: 10000; /* Osigurava da slika bude iznad iframe-a */
}
